# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environment variables
.env
.venv
env/
venv/

# Static files
/staticfiles/
/static/admin/
/static/rest_framework/

# Media files
/media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Deployment
*.service
nginx.conf